<link rel="stylesheet" type="text/css" media="screen" href="/styles/menu.css">

<cart></cart>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="menu_item_title">{{selectedMenuItem}} 
					<span id="modal_header_price">${{selecteditemPrice}}</span>
				</h4>
			</div>
			<div class="modal-body" id="menu_item_body">
				<span ng-repeat="(menu_item_option_index, menu_item_option) in selectedmenuItemOptions">
					<span ng-hide="true"> {{menu_item_option.name}} </span>
					<div id="menu_item_modal" class="col-md-12">
						{{menu_item_option.name}}
						<span id="option_instructions">{{menu_item_option.instructions}}</span>
					</div>
					<div id="menu_item_choices" class="row">
						<span ng-repeat="(menu_item_option_choice_index, menu_item_option_choice) in menu_item_option.item_options">
							<div id="menu_item_option" class="col-md-4">
								<span ng-if="menu_item_option.required == true">
									<input type="radio" value="menu_item_option_choice.name"></input> {{menu_item_option_choice.name}}
								</span>
								<span ng-if="menu_item_option.required == false">
									<input type="checkbox" value="menu_item_option_choice.name"></input> {{menu_item_option_choice.name}}
								</span>
								${{menu_item_option_choice.price}}
							</div>
						</span>
					</div>
				</span>
			</div>
			<br>
			<div>
			  <span id="spec_instructions_title">Special Instructions</span>
			  <span id="spec_instructions_prompt"> (eg. "Hot sauce in the bag" ) </span>
			  <textarea class="form-control" id="special_instructions_content" rows="3"></textarea>
			</div>
			<div class="modal-footer">
			<button id="close_modal" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button id="save_change_modal"type="button" class="btn btn-danger">Save to Bag</button>
			</div>
			</div>
		</div>
	</div>
</div>	

<span id="menu_data" ng-repeat="(category_index, category) in menu.categories">
	<div class="well clearfix">
		<div class="row" id="restaurants_list_item">
		<div id="menu_category" class="col-sm-12">
		{{ category.name }}
		</div>
		<div class="row">
			<span ng-repeat="(menu_item_index, menu_item) in category.menu_items">
				<div id="menu_item" class="col-md-3">
				<a data-target="#myModal" data-toggle="modal" ng-click="getMenuItemOptions(category_index, menu_item_index,menu_item.name)" href="">{{menu_item.name}}</a>
				</div>
				<div id="menu_price" class="col-md-3">${{menu_item.price}}</div>
			</span>
		<div>
	</div>
</span>



